<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/resume.css">
</head>
<body>
   <div id="header">
        <button class="button-style">
        <a href="academics.html">Academics</a> 
        </button>
        <button class="button-style">
        <a href="personal.html">Personal</a> 
        </button>
        <button class="button-style">
        <a href="contact.html">Contact</a> 
        </button>
        <button class="button-style">
        <a href="index.html">Index</a>
        </button>
        <button class="button-style">
        <a href="update.html">Imp Links</a>
        </button>
         <button class="button-style">
        <a href="projects.html">Projects</a>
        </button>
        <button class="button-style">
        <a href="skills.html">Skills</a>
        </button>
    </div>
    <div id="main">
        <h1>Resume</h1>
        <a href="/documents/resume.pdf" download>Download Resume</a>
    </div>
    <div id="footer">
        <h5>Rishabh Keshari | 2024 batch | &copy; 2025</h5>
    </div>
</body>
</html>